@using ETCDAL;
@using ETCDAL.Models;
@inject IETCData _db;

@if (ApprovalList is null)
        {
            <p><em>Loading...</em></p>  <span class="spinner-border spinner-border-sm" role="status"></span>
        }
        else
        {

    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
            <tr class="table-warning">
                <th width="50px"> Approver </th>
                <th width="50px">Date Requested </th>
                <th width="50px">Date Approved  </th>
                <th width="50px">Approved Status  </th>
                <th width="50px">Date Rejected  </th>
                <th width="50px">Rejected Status  </th>
                <th width="500px">----  </th>
               
            </tr>
        </thead>
        <tbody id="results">
            @if (ApprovalList != null)
            {
                @foreach (var Approver in ApprovalList)
            {
                    string displayDateValue = @Approver.DateApproved == DateTime.MinValue ? "N/A" : @Approver.DateApproved.ToString();

                    <tr class="@GetRowColor(Approver)">
                        <td>@Approver.ApproverUserName</td>
                    <td>@Approver.DateApprovalRequested</td>
                        <td>@displayDateValue</td>
                        <td> @Approver.Approved </td>
                        <td> @Approver.DateRejected </td>
                        <td> @Approver.Rejected </td>
                </tr>
            }
            }
         

        </tbody>

    </table>
    }
@code {
    [Parameter]
    public int RecordId { get; set; }

    private List<ApprovalModel> ApprovalList;
  
    protected override async Task OnInitializedAsync()
    {

        if (ApprovalList == null)
        {
            ApprovalList = await _db.GetApprovalList(RecordId);
        }
    }

    string GetRowColor(ApprovalModel item)
    {
        if (item.Approved == 1)
        {
            return "table-success small"; // Bootstrap class for a green background
        }
        else if (item.Rejected == 1)
        {
            return "table-danger small"; // Bootstrap class for a red background
        }
        else
        {
            return "small"; // Default background color
        }
    }
}
